@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


*,html{

    padding:0;
    margin:0;
}
.container{
    display:flex;
    flex-direction: column;
    align-items:center;
}


body{
    background-image: url("/Wallpaper.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Staatliches', cursive;
    color: azure;
    text-shadow: 2px 2px black;
    background-color: black;
    margin-top: 2rem;
}

label, textarea,input{
    padding: 1rem 0  0 1rem ;
    border: none;
    font-size:x-large;
}

button{
    padding:0.5rem;
    margin:1rem;
    border: none;
    border-radius: 0.2rem;
    font-family: 'Staatliches', cursive;
    font-size:x-large;
}

#display{
    color: azure;
    text-shadow: 3px 3px black;
    font-family: 'Staatliches', cursive;
    font-size:xx-large;
}

.footer{
    background-color:#fb5a09;
    padding:1rem 0rem;
    text-align: center;
    background-size:cover;
    color: white;
    position:absolute;
   bottom:0px;
   width:100%;
   font-size: larger;
}
.footer ul{
    padding-inline-start: 0px;
    
}

.link{

    text-decoration: none;
    color: white;
    padding:0 5vh;
}
